.backgroundProjets{
    background-color: rgba(255, 250, 205, 0.5) !important;
    padding-top: 2%;
    padding-bottom: 2%;
}


.presentationProjets{
    margin-top: 4%;
    font-size: 0.9em;
    width: 65% !important;
    /* background-color: rgba(14, 13, 12, 0.5); */
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 1px black solid;
    border-radius: 15px;
    background-color: rgba(29, 16, 4, 0.9);
    margin-left: 3% !important;
    margin-bottom: 3%;
}

.layoutPres{
    color: lemonchiffon !important;
    font-weight: normal;
}


.titleCard{
    font-size: 1em !important;
}

.télésiège{
    background-size: cover;
    width: 180px;
    height: 120px;
}

.ski{
    background-size: cover;
    width: 160px;
    height: 120px;
}

.poubelle{
    background-size: cover;
    width: 180px;
    height: 120px;
}
.plus{
    font-style: italic;
    font-size: 0.7em;
    color: black !important;
}

.gridprojet{
 width: 50% !important;
 margin: auto !important;
 background-color:  #d1aa98;
}

.card{
    height: 100% !important;
    width: 80% !important;
}

.longlarg{
    height: 30% !important;
    width: 25% !important;
}

.pprojet{
    font-weight: normal;
    font-size: 0.8em;
}

.thematique{
    font-weight: bold;
    font-size: 0.6em;
}