.backgroundhome{
    background-image: url('./../../assets/marmottesite.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.philosophie{
    font-size: 1.8em;
    margin-top: 4% !important;
    background-color: rgba(231, 224, 159, 0.3);
    color: black;
    width: 50%;
    padding-left: 1%;
}

.projets{
    margin-top: 15% !important;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 38%;
    width: 35%;
    background-color: rgba(14, 13, 12, 0.9);
    padding-left: 2%;
    padding-bottom: 3%;
    padding-top: 3%;
    color: lemonchiffon !important;
}

.fleche{
    color: red;
    font-size: 1.9em !important;
    padding-left: 80%;
    padding-top: 3%;
}
