.télésiège{
    background-size: cover;
    width: 300px;
    height: 180px;
}

.ski{
    background-size: cover;
    width: 300px;
    height: 180px;
}

.plus{
    background-color: #E29578 !important;
    font-size: 0.9em !important;
}

.thématique{
    color: #83C5BE !important;
    font-size: 0.9em;
}

.descriptionCard{
    font-size: 0.9em;
}

.grid{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    padding-left: 5% !important;
}

.card{
    height: 100% !important;
    width: 80% !important;
}