.navbarColor{
    background-color: #381c01 !important;
}

.navLink{
    color: lemonchiffon !important;
}

.liens{
    color: lemonchiffon !important;
}
.navbarTitle{
    width: 100% !important;
    font-size: 1.7em;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20% !important;
    color: #EDF6F9 !important;
    }

.association{
    color: #EDF6F9 !important;
    font-family: 'playfair display', 'sans serif';
}

.burger{
    width: 8% !important;
    font-size: 1.1rem;
    
}

.navIcon{
    color: lemonchiffon;
}

/* .login{
    padding-right: 4% !important;
    color: #EDF6F9 !important;
    font-family: 'playfair display', 'sans serif' !important;
    font-weight: bold;
} */

/* *{
    color: #EDF6F9;
    font-family: 'playfair display', 'sans serif';
} */

